*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: url(../Imagenes/background.jpg);
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
    background-attachment: fixed;
    text-decoration: none;
    height: 100vh;
    width: 100%;
    position: relative;
}

.menu_bar{
    display: none;
}

header{
    width: 100%;
}

header nav{
    background: rgb(0, 255, 0);
    z-index: 1000;
  
    width: 100%;
    margin: 0px 0px;
}

header nav ul{
    list-style: none;
    border-radius: 0.4rem;
}  

header nav ul li{
    display: inline-block;
    position: relative;
}

/*Menu desplegable*/
header nav ul li:hover .children{
 display: block;
}

header nav ul li .children{
    display: none;
    background: #011826;
    position: absolute;
    width: 180%;
    padding: 0%;
    z-index: 1000;
}

header nav ul li .children li{
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
    display: block;
    font-size: 0.88em;
}

header nav ul li .children li a span{
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left:  10px;
}
 header nav ul li .caret {
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 0px;
 }
/*Divisor*/
header nav ul li:hover{
    background: rgb(0, 204, 255);
}
header nav ul li a{
    color: #fefefe;
    font-size: 1.2em;
    display: block;
    text-decoration: none;
    padding: 20px;
}

header nav ul li a span{
    margin-right: 10px;
}

.logo {
    max-width: 120px; /* Ajusta el valor según sea necesario */
    height: auto;
    position: relative;
    left: 40%;
    margin-top: 5px;
    margin-bottom: 8px;
}
  

.texto-principal {
    padding: 8%;
    text-align: center;
    font-size: 1.0em;
    margin: 0 auto;
    max-width: 1200px;
    z-index: 0;
}

.texto-principal img{
    position: center center;
    width: 60%;
}

.custom-carousel{
    width: 80%;
    margin-bottom: 50px;
}
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-footer{
    height: 80px;
    margin-bottom: 1rem;
}

.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url(../icons/facebook.png);/*descargar imagen icono de facebook y pegarlo aqui*/
    background-position: center;
    background-size: 40%;
    background: no-repeat;
    margin: 1rem;
}

.social-icon:hover{
    background-color: #121212;
    filter: invert(1);
}

.social-icon:nth-of-type(1){
    background-image: url(../Icons/facebook.gif);/*descargar y pegar imagen icon de red social*/
    background-size: contain;
}

.social-icon:nth-of-type(2){
    background-image: url(../icons/instagram.gif);/*descargar y pegar imagen icon de red social*/
    background-size: contain;
}

.footer-menu-container{
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}

.footer-menu-container a{
    text-decoration: none;
    color: #f2f2f2;
}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}

@media screen and (max-width: 800px) {
    body{
        padding-top: 80px;
    }

    .logomovil{
        width: 27%;
    }
    
    .logo{
        display: none;
    }
    .menu_bar {
        display: block;
        width: 100%;
        position: fixed;
        top:0%;
        background: rgb(0, 255, 0);
    }

    .menu_bar .bt-menu{
        display: block;
        padding: 20px;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    
    .menu_bar span {
        float: right;
        font-size: 40px;
    }

    header nav {
        width: 90%;
        height: calc(95% - 80px);
        position: fixed;
        right: 100%;
        margin: 0;
        overflow: scroll;
    }

    header nav ul li {
        display: block;
        border-bottom: 1px solid rgba(255,255,255.5);
        margin-right: 7px;

    }

    header nav ul li a {
        display: block;
        font-size: 1.4em;
    }

    header nav ul li:hover .children{
        display: none;
    }

    header nav ul li .children{
        width: 100%;
        position: relative;
    }

    header nav ul li .children li a {
        margin-left: 0px;
        font-size: 0.75em;
    }

    header nav ul li .caret {
        float: right;
    }
}