*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #20dc62;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 60px;
    width: 150px;
    margin-top: -10px;
}
nav ul{
    float: right;
    margin-right: 20px;
    z-index: 2000;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 8px;
}
nav ul li a{
    color: #fff;
    font-size: 0.8em;
    padding: 7px 1px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
li a.active, li a:hover{
    background: #38ecc2;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
body{
    background:  url(../Imagenes/background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
    background-attachment: fixed;
    text-decoration: none;
}

.texto-principal{
    padding: 8%;
    text-align: center;
    font-size: 1.0em;
    margin: 0 auto;
    max-width: 1200px;
    text-decoration: none;
}

.texto-principal img{
  position: center center;
  width: 60%;
  margin-bottom: 20px;
}

.carousel-custom {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 40px;
  }


  
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
  .pie-de-pagina{
    width: 100%;
    background-color: #1a3a56;
  }

  .pie-de-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15%px;
    padding: 65px 0px;
  }

  .pie-de-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pie-de-pagina .grupo-1 .box figure img{
    width: 350px;
    height: 140px;
  }

  .pie-de-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
  }

  .pie-de-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
  }

  .pie-de-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 15px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
  }

  .pie-de-pagina .grupo-1 .red-social a:hover{
    color: aqua;
  }

  .pie-de-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }

  .pie-de-pagina .grupo-2 small{
    font-size: 15px;
  }


@media (max-width: 1120px){
  .enlace{
    padding-left: 20px;
  }
  nav ul li a{
    font-size: 14px;
  }
  .checkbtn{
    display: block;
  } 
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  #check:checked ~ul{
  left: 0;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  li a:hover, a.active{
  background: none;
  color: red;
  }
}

@media (max-width: 858px){
    body{
        background:  url(../Imagenes/background.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        height: calc(100vh - 80px);
        background-attachment: fixed;
        text-decoration: none;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, a.active{
        background: none;
        color: red;
    }
    #check:checked ~ul{
        left: 0;
    }
    .texto-principal {
    font-size: 0.8em;
    padding: 20px;
  }
  .pie-de-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 20px 0px;
  }
  .pie-de-pagina .grupo-1 .box figure img{
    width: 150px;
    height: 50px;
  }
}
.dropdown-menu {
  z-index: 2000;
}

